{% import "./adsPannel.html" as adsPannel %}
<div class="links">
  <ul class="box">
    <p>友情链接</p> 
  </ul>
</div>
<footer>
  <div class="box">
    <div class="ft_nav">
      <div class="ft_about">
        <p>关于我们</p>
        <ul>
          <li><a href="/t/service">关于我们</a></li>
          <li><a href="/t/service">联系我们</a></li>
          <li><a href="/t/service">加入我们</a></li>
          <li><a href="/t/service">隐私条款</a></li>
          <li><a href="/t/service">用户协议</a></li>
          <li><a href="/t/service">免责声明</a></li>
        </ul>
      </div>
      <div class="ft_contact">
        <ul>
          <li>江苏汉盾安防科技有限公司</li>
          <li>地址：江苏省苏州市昆山市花桥镇双联国际商务中心</li>
          <li>电话：400-990-7922</li>
          <li>服务时间：9:00-17:30</li> 
        </ul>
      </div>
      <div class="ft_guanzhu">
        <ul> 
          <li><img src="{{staticThemePath}}/picture/handun.jpg" alt="微信公众号">微信公众号</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="center">
        苏ICP备15007323号 <br />

Copyright @ zkh360 Corporation All Rights Reserved.
    <img src="{{staticThemePath}}/picture/handun-footer.jpg" alt="微信公众号">
      </div>
    </div>
  </div>
</footer>