{% goodsCategory "/stuff" %}
	{% for category1  in goodsCategory %}

	<div class="category_container" style="border:1px solid {{category1.background}};" data-category1-index="{{loop.index}}">

		<div class="category_left" style="border:1px solid {{category1.background}};">
			<div class="left_title" style="background-color: {{category1.background}};">
				{{loop.index}}F {{category1.name}}
			</div>
			<div class="left_content" >
				<ul>
				{% for category2  in category1.children %}
					<li class="category2_name" data-category2-index="{{loop.index}}"><span>●</span> {{category2.name}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="category_right" style="border-top:1px solid {{category1.background}};">
			<div class="right_title" >
				{% for category3  in category1.children[category1.currentIndex].children %}
				{% if loop.index<4 %}
				<div class="right_title_cat" data-category3-index="{{loop.index}}">
					{{category3.name}}
				</div>
				{% endif %} 
				{% endfor %}
			</div>
			<div class="right_content" >
				{% for category  in category1.children[category1.currentIndex].children[category1.children[category1.currentIndex].currentIndex].currentGoodList  %}
					<div class="right_content_good"> 
						<img src="{{category.sImg}}">
						<div style="margin-top: 10px;">{{category.name}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
		
	
	</div>

	{% endfor %}
	<br/>
	{% include "./pagination.html" %}
